# playz conf

# gmusicproxy url
PROXY_URL=http://localhost:9999
# mpd playlist directory
PLIST_DIR=$HOME/.cache/mpd/playlists
# playlist prefix
PLIST_PFX=play
# auto purge older than this many days
CACHE_AGE=3
# auto skip when thumbs down
AUTO_SKIP=true

